
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/pico.min.css">
    <style>
        h1 {
            text-align: center;
        }

        th, td{
            text-align: center;
            border: 1px solid black;        
        }

        table {
            border: 1px solid black;      
            border-collapse: collapse;  
            width: 30%;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <h1>Today's most active 20 stocks </h1>
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Change%</th>
                <th>Rel_Volumn</th>
                <th>P/E</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in post %}
            <tr>
                {% for attr in stock %}
                    {% if not loop.last %}
                        <td>{{attr}}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>